<div id="home-wrapper">
    <h1>Home component</h1>

    <div id="home-elements">
        <chat-manager></chat-manager>
    </div>

    <!-- <div id="home-children">
        <chat-login></chat-login>
        <div id="general-chat">
            <h3>General Chat. Login or create an account for additional features.</h3>
            <div> <h4>Chat component instance</h4>Does not require login. It is possible to chat with anyone connected to the application.</div>
        </div>
    </div>
    <chat-signup></chat-signup> -->
</div>
