# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/client/dist
/client/tmp
/client/out-tsc
/*.js

# dependencies
node_modules

# IDEs and editors
/client/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/client/.sass-cache
/client/connect.lock
/client/coverage
/client/libpeerconnection.log
npm-debug.log
testem.log
/client/typings
mongoful.txt

# e2e
/client/e2e/*.js
/client/e2e/*.map

# System Files
.DS_Store
Thumbs.db
