<!-- <nav    class="navbar nav-tabs navbar-dark bg-light" id="chat-navbar"
        [ngClass]=" sessionService ? '' : 'justify-content-start'"> -->
<div    class="bg-light">
        <ul class="nav nav-tabs nav-fill " id="chat-navbar">
                <li class="nav-item">
                        <a class="text-dark" routerLink="/" 
                        routerLinkActive="active-link">
                                <h4> The Clean Chat </h4>
                        </a>
                </li>

                <li class="nav-item" *ngIf="!sessionService.isActive()" >
                        <a      class="nav-item nav-link text-primary"
                                data-toggle="tab" routerLink="/login" 
                                routerLinkActive="active-link">
                                {{ t10s?.login }}
                        </a>
                </li>

                <li class="nav-item" *ngIf="!sessionService.isActive()" >
                        <a      class="nav-item nav-link text-primary"
                                data-toggle="tab" routerLink="/signup"
                                routerLinkActive="active-link">
                                {{ t10s?.signup }}
                        </a>
                </li>

                <li class="nav-item" *ngIf="sessionService.isActive()" >
                        <h3 class="display-4">{{ sessionService.getUserAsContact().name }}</h3>
                </li>

                <li class="nav-item" *ngIf="sessionService.isActive()" >
                        <button class="btn btn-outline-primary" (click)="logout()">{{t10s?.logout}}</button>
                </li>

                <li class="nav-item" >
                        <select class="custom-select" (change)="changeLanguage( $event.target.value )">
                                <option value="" disabled selected style="display:none;">{{ t10s.language }}</option>
                                <!-- <option selected>{{ t10s.language }}</option> -->
                                <option value="en">{{ t10s.english }}</option>
                                <option value="es">{{ t10s.spanish }}</option>
                        </select>
                </li>

        </ul>

        <!-- <label for="change-language">Language</label>
        <input #lang type="text" name="language" id="change-language">
        <input (click)="changeLanguage( lang.value )" type="button" value="Change"> -->

</div>

<div id="chat-body">
        <router-outlet></router-outlet>
</div>

<div id="chat-footer">
        <hr />
        By Angel P.
</div>