 <form #chatsForm="ngForm" novalidate>
    
  <label for="nameOfFriend">Invite to chat:</label>
    <!-- TODO: CHANGE TO A SELECT_OPTION LIST OF FRIENDS -->
    <input type="text" name="friendToJoin" id="nameOfFriend" ngModel>
    <!-- <input type="text" name="friendToJoin" id="nameOfFriend" [textEqual]="uninvitables" required ngModel> -->

  <div *ngIf="chatsForm.hasError('textEqual','friendToJoin')">Already invited or in current chat.</div>

  <button [hidden]="chatsForm.value.friendToJoin === ''"
          [disabled]="chatsForm.invalid" (click)="addToInvitations( chatsForm )">
    Add another
  </button>

  <button *ngIf="selectedChat && friendInvitations.length" name="inviteChat"
          [hidden]="chatsForm.invalid" [disabled]="chatsForm.invalid" 
          (click)="inviteToChat( friendInvitations )" >
    Invite
  </button>

  <button *ngIf="friendInvitations.length" name="createChat" [hidden]="chatsForm.invalid" [disabled]="chatsForm.invalid"
          (click)="createNewChat()" >
    New Chat
  </button>
        
  <div id="invitations" *ngIf="friendInvitations.length">
    <span>Invitations</span>
      <ul name="chatInvitations" id="currentInvitations">
        <li class="friend-invitation" *ngFor='let friend of friendInvitations; let i = index'>
          {{ friend.name }} <span (click)="removeFromInvitations( i )">✕</span>
        </li>
      </ul>
  </div>

</form> 


<div *ngIf="chats.length" id="chats-list">

<!-- TODO: could replace this with a <chat> component -->
  <div (click)="openChat(i)" class="chat-card" *ngFor="let chat of chats; let i = index" [ngClass]="chat.hasNewMessage?'has-new-message':''">
    <div class="chatProfileCard" >
        <div><img [src]="chat.pictureUrl" alt=""></div>
        <div><span>Chat {{chat.name}}</span></div>
    </div>
   
    <div class="chatCardOptions">
      <ul>
        <li>Leave</li>
      </ul>
    </div>

  </div>

</div>