<div id="signup-box">
<h1>Sign Up component</h1>
    <form [formGroup]="signUpForm" (ngSubmit)="formSubmit()" novalidate >

        <label>Username
          <input type="text" formControlName="username" required>
        </label>
        <!--<span class="error-message" *ngIf="signUpForm.controls['username'].dirty">-->
        <span class="error-message" *ngIf="signUpForm.get('username').dirty">
          <div *ngFor="let error of signUpForm.get('username').errors | asIterable">{{ formErrorMessages['username'][error.key] }}</div>
        </span>

        <div formGroupName="passGroup">
          
          <label>Password
            <input type="password" formControlName="password" required>
          </label>
          <span class="error-message" *ngIf="signUpForm.get('passGroup.password').dirty">
            <div *ngFor="let error of signUpForm.get('passGroup.password').errors | asIterable">{{ formErrorMessages['password'][error.key] }}</div>
          </span>

          <label>Repeat password
            <input type="password" formControlName="password2" required>
          </label>

        </div>

        <span class="error-message" *ngIf="signUpForm.get('passGroup').dirty">
          <div *ngFor="let error of signUpForm.get('passGroup').errors | asIterable">{{ formErrorMessages['passGroup'][error.key] }}</div>
        </span>

        <label>E-mail
          <input type="email" formControlName="email" required>
        </label>
        <span class="error-message" *ngIf="signUpForm.get('email').dirty">
            <div *ngFor="let error of signUpForm.get('email').errors | asIterable">{{ formErrorMessages['email'][error.key] }}</div>
        </span>

        <button name="sign-up" [disabled]="!signUpForm.valid">Sign Up</button>
    </form>
</div>