<div class="jumbotron" id="signup-box">
  <h1>Sign Up component</h1>
  <br>
    <form [formGroup]="signUpForm" (ngSubmit)="formSubmit()" novalidate >

        <label for="username">{{t10s?.username}}</label>
        <input class="form-control" type="text" formControlName="username" id="username" required>
        
        <!--<span class="error-message" *ngIf="signUpForm.controls['username'].dirty">-->
        <span class="error-message" *ngIf="signUpForm.get('username').dirty">
          <div *ngFor="let error of signUpForm.get('username').errors | asIterable">{{ t10s[ formErrorMessages['username'][error.key] ] }}</div>
        </span>

        <div class="" formGroupName="passGroup">
          
          <label for="password">{{t10s?.password}}</label>
          <input class="form-control" type="password" id="password" formControlName="password" required>
          
          <span class="error-message" *ngIf="signUpForm.get('passGroup.password').dirty">
            <div *ngFor="let error of signUpForm.get('passGroup.password').errors | asIterable">{{ t10s[ formErrorMessages['password'][error.key] ] }}</div>
          </span>

          <label for="password2">{{t10s?.password2}}</label>
          <input class="form-control" type="password" id="password2" formControlName="password2" required>
          

        </div>

        <span class="error-message" *ngIf="signUpForm.get('passGroup').dirty">
          <div *ngFor="let error of signUpForm.get('passGroup').errors | asIterable">{{ t10s[ formErrorMessages['passGroup'][error.key] ] }}</div>
        </span>

        <label for="email">{{t10s?.email}}</label>
          <input class="form-control" type="email" id="email" formControlName="email" required>
        
        <span class="error-message" *ngIf="signUpForm.get('email').dirty">
            <div *ngFor="let error of signUpForm.get('email').errors | asIterable">{{ t10s[ formErrorMessages['email'][error.key] ] }}</div>
        </span>

        <hr />
        <button class="btn btn-primary btn-block" name="sign-up" [disabled]="!signUpForm.valid">{{t10s?.signup}}</button>

    </form>

</div>