:host{
    width:64%;
    border: dotted 2px darkorange;
}
#chat-wrapper{
    display:flex;
    flex-flow: column;
    border: dashed 1px red;
}
#messages{
    border: solid magenta 1px;
    min-height: 200px;
}