<div id="manager-wrapper">

    <ul id="list-selector">
        <li *ngFor="let list of lists; let ind=index" (click)="switchList(ind)">{{list.name}}</li>
    </ul>

    <div>{{currentList.name}}</div>
    
    <!-- <ng-template></ng-template> -->
    <chat-friends *ngIf="currentList.name==='Friends'" [friends]="listItems" (friendSelected)="onElementSelected($event)"></chat-friends>
    <chat-chats *ngIf="currentList.name==='Chats'" [chats]="listItems" (chatSelected)="onElementSelected($event)" (chatListChanged)="chatListChanged()"></chat-chats>

</div>
<div id="chat-window-wrapper">
    <chat-msg-window *ngIf="selectedConversation" [selectedConversation]="selectedConversation" [msgArr]="currentMessages"></chat-msg-window>
</div>