<div id="details-panel-wrapper">

    <div>
        <div id="element-picture">
            <img src="http://via.placeholder.com/60x60">
        </div>
        <div id="element-name">ELEMENT_NAME</div>
    </div>

    <div>
        <div id="related-elements">
            <label for="element-related-elements">Related Elements</label>
            <select name="" id="element-related-elements">
                <option value="">Option1</option>
                <option value="">Option2</option>
                <option value="">Option3</option>
            </select>
        </div>
        <div id="element-options">
            <button>Kick</button>
            <button>Unfriend/Leave</button>
        </div>
    </div>

</div>