<form #friendForm="ngForm" (ngSubmit)="onFormSubmit(friendForm)" novalidate>
    <label for="nameOfFriend">Friend request to: </label>
    <input type="text" name="friendToBe" id="nameOfFriend" [textEqual]="unfriendables" required ngModel>
    <div *ngIf="friendForm.hasError('textEqual','friendToBe')">Oops, that is you.</div>
    
    <!-- cannot check errors array directly -->
    
    <button name="request" [hidden]="friendForm.invalid" [disabled]="friendForm.invalid">Request</button>
</form>

<div *ngIf="friends.length" id="friends-list">

<!-- TODO: could replace this with a <friend> component -->
  <div (click)="openChat(i)" class="friend-card" *ngFor="let friend of friends; let i = index" [ngClass]="friend.hasNewMessage?'has-new-message':''">
    <div class="friendProfileCard" >
        <div><img [src]="friend.pictureUrl" alt=""></div>
        <div>User {{friend.name}}</div>
    </div>
   
    <div class="friend-card-options">
        <ul>
            <li>Remove</li>
        </ul>
    </div>

  </div>

</div>