<div class="dropdow col-12" id="notification-text">
    
  <button type="button" class="btn btn-block btn-sm drowpdown-toggle" data-toggle="dropdown"
          [ngClass]="notifications.length ? 'btn-info' : 'btn-secondary' "
          [hidden]="notifications.length ? false : true">
      {{ t10s.notifications }} <span class="badge badge-secondary"> {{ notifications.length }} </span>
  </button>

  <div class="dropdown-menu">
    <div class="dropdown-item" *ngFor="let notification of notifications; let i = index">
      {{ notification.text }}
      <button class="btn btn-sm btn-outline-success" (click)="acceptRequest( i )">✔</button>
      <button class="btn btn-sm btn-outline-danger"(click)="discardRequest( i )">✕</button>
    </div>
  </div>
    
</div>